/* маржин распологает блок по середине, бордер - граница, паддинги сдвигают внутренние элементы от границы */
.main {
    margin: 50px 100px; 
    border: 1px solid black;
    padding: 20px;
}

/* дисплей флекс распологает блок с кнопками и блок с полями для ввода в ряд (а не в столбец) */
.control-panel {
    display: flex;
}

/* т.к. инпуты - строчные элементы, опять дисплей флекс, но расставляем по колоннам. ширина - 50% от блока, оччерченого границей */

.inputs {
    display: flex;
    flex-direction: column;
    width: 50%
}

/* Тут тоже ширина 50% от родительского блока, дисплей флекс, по горизонтали центрируем, по вертикали ставим вниз */

.buttons {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* Делаем отступ у кнопок, задаем ширину, высоту */

.buttons button {
    margin: 0 20px;
    width: 200px;
    height: 60px;
}